<nb-card>
  <nb-card-header>Новый микрофронтенд</nb-card-header>
  <nb-card-body>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <input nbInput placeholder="remoteName" formControlName="remoteName" />
      <input nbInput placeholder="exposedModule" formControlName="exposedModule" />
      <input nbInput placeholder="displayName" formControlName="displayName" />
      <input nbInput placeholder="icon" formControlName="icon" />
      <input nbInput placeholder="routePath" formControlName="routePath" />
      <input nbInput placeholder="ngModuleName" formControlName="ngModuleName" />
      <label>
        Active
        <input type="checkbox" formControlName="active" />
      </label>
      <button nbButton status="success" type="submit">Создать</button>
    </form>
  </nb-card-body>
</nb-card>
