@import '~@nebular/theme/styles/prebuilt/default.css';
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}
